* {
  margin: 0px;
  padding: 0px;
  font-family: "Ubuntu", sans-serif;
}
:root {
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.buttons {
  top: 13%;
}
.button {
  border-style: solid;
  border-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-width: 2px;
  text-align: center;
}
#cardbody {
  top: 57%;
}
#footer {
  margin-top: 90%;
}
.footerbutton {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: none;
  background-color: var(--marine-blue);
  color: white;
  border-radius: 6%;
}

.background {
  background-color: var(--light-blue);
}
footer {
  height: 10%;
  background-color: white;
}
.img {
  padding-top: 0.3rem;
  width: 40px;
}
.priceblock {
  border-style: solid;
  padding: 2px 0px 2px 8px;
  align-items: start;
  border-color: rgb(243, 240, 240);
  border-width: 0.1rem;
  border-radius: 0.5rem;
  margin-bottom: 0.7rem;
}
.price {
  padding-left: 10px;
}
.fot {
  margin-left: auto;
}
.form-check {
  margin-top: 1rem;

  justify-content: space-around;
  background-color: rgb(238, 232, 232);
  border-radius: 0.5em;
  margin-top: 1rem;
}
#toggleSwitch {
  width: 2.8rem;
  height: 1.3rem;
}
.addOn {
  align-items: center;
  border-style: solid;
  padding: 2px 0px 2px 8px;
  align-items: start;
  border-color: rgb(243, 240, 240);
  border-width: 0.1rem;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

.div3sub {
  align-self: center;
  margin-left: auto;
  padding-right: 1rem;
}
.tickimg {
  width: 100%;
  height: 100%;
  background-color: var(--purplish-blue);
}
.imgdiv {
  align-self: center;

  width: 1.5rem;
  height: 1.5rem;
  border-style: solid;
  border-color: rgb(245, 236, 236);
  border-width: 1px;
}
.add {
  padding-left: 1rem;
}
.finish {
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: var(--light-blue);
  border-radius: 0.5rem;
  padding-bottom: 0.5rem;
}
.final1 {
  justify-content: space-between;
  align-items: center;
}
.final2 {
  justify-content: space-between;
}
.total {
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.thank {
  align-items: center;
}
.thankimg {
  width: 4.5rem;
  padding-bottom: 1.5rem;
  padding-top: 2rem;
}
.thankyou {
  padding-bottom: 1.5rem;
}
.thankcont {
  text-align: center;
  padding-bottom: 3rem;
}
