* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}
:root {
  --marine-blue: hsl(213, 96%, 18%);
  --purplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);
  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --white: hsl(0, 0%, 100%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.buttons {
  top: 13%;
}
.button {
  border-style: solid;
  color: white;
  border-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-width: 2px;
  text-align: center;
}
#cardbody {
  top: 57%;
}
.card-subtitle {
  font-weight: 500;
  font-size: 0.95rem;
}
.card-title {
  font-weight: 700;
}
::placeholder {
  font-weight: 400;
  font-size: 0.9rem;
}

.footer {
  position: absolute;
  bottom: 0%;
}

.footerbutton {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: none;
  background-color: var(--marine-blue);
  color: white;
  border-radius: 6%;
}

.background {
  background-color: var(--light-blue);
}
.footer {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  width: 100%;
  background-color: white;
}
.img {
  padding-top: 0.3rem;
  width: 40px;
}
body {
  position: relative;
  padding: 0;
  height: 100vh;
}
.priceblock {
  border-style: solid;
  padding: 3px 0px 3px 8px;
  align-items: start;
  border-color: rgb(243, 240, 240);
  border-width: 0.1rem;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

.price {
  padding-left: 10px;
}
.sub1 {
  color: var(--marine-blue);
  font-weight: 500;
  font-size: 0.95rem;
}
.sub2 {
  font-size: 0.8rem;
}
.sub3 {
  font-size: 0.8rem;
}
.sub4 {
  font-size: 0.8rem;
}
.fot {
  margin-left: auto;
}
.form-check {
  margin-top: 1rem;

  justify-content: space-around;
  background-color: rgb(238, 232, 232);
  border-radius: 0.5em;
  margin-top: 1rem;
}
#toggleSwitch {
  width: 2.8rem;
  height: 1.3rem;
}
.addOn {
  align-items: center;
  border-style: solid;
  padding: 2px 0px 2px 8px;
  align-items: start;
  border-color: var(--cool-gray);
  border-width: 0.1rem;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}

.div3sub {
  align-self: center;
  margin-left: auto;
  padding-right: 1rem;
}
.tickimg {
  width: 100%;
  height: 100%;
  background-color: var(--purplish-blue);
}
.imgdiv {
  align-self: center;

  width: 1.5rem;
  height: 1.5rem;
  border-style: solid;
  border-color: var(--cool-gray);
  border-width: 0.1px;
  border-radius: 5px;
}
.add {
  padding-left: 1rem;
}
.finish {
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: var(--light-blue);
  border-radius: 0.5rem;
  padding-bottom: 0.5rem;
}
.final1 {
  justify-content: space-between;
  align-items: center;
  border-bottom-style: solid;
  border-bottom-color: var(--cool-gray);
  border-bottom-width: 1px;
}
.final2 {
  justify-content: space-between;
}
.total {
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.thank {
  align-items: center;
  justify-content: center;
}
.thankimg {
  width: 5.5rem;
  padding-bottom: 2rem;
  padding-top: 4rem;
}
.thankyou {
  padding-bottom: 1.5rem;
  font-weight: 500;
  font-size: 2rem;
  color: var(--marine-blue);
}
.thankcont {
  text-align: center;
  width: 18.3rem;
  padding-bottom: 3rem;
  color: var(--cool-gray);
  font-weight: 400;
  font-size: 1rem;
}
.footerconfirm {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: none;
  background-color: var(--marine-blue);
  color: white;
  border-radius: 6%;
}
.imagedesktop {
  display: none;
}
.footerdesktop {
  display: none;
}
.db_1 {
  display: none;
}
.goBack {
  cursor: pointer;
}
.footerbutton:hover {
  opacity: 0.5;
}
.goBack {
  color: var(--marine-blue);
  font-weight: 500;
}
@media only screen and (min-width: 1024px) {
  * {
    overflow: hidden;
  }
  .image {
    display: none;
  }
  .imagedesktop {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
    margin-left: 5px;
    margin-right: auto;
  }
  #div {
    top: 10%;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    width: 70%;
    height: 80%;
    border-radius: 16px;
  }

  #cardbody {
    top: 5%;
    left: 40%;
    height: 100%;
    border: none;
    margin-right: -10%;
  }
  .buttons {
    flex-direction: row;
    left: 1%;
    top: 5%;
  }
  .footer {
    width: 30rem;
    left: 44%;
    top: 77%;
    bottom: 15%;
  }
  .priceblock {
    cursor: pointer;
    width: 8.2rem;
  }
  .img {
    padding-left: 5px;
  }
  .addOn {
    width: 27rem;
  }
  .finish {
    width: 27rem;
  }
  .thankcont {
    width: 28rem;
  }
  .thank {
    padding-top: 3rem;
  }
  .db_1 {
    display: block;
    padding-top: 0.5rem;
    padding-left: 1rem;
  }
  .tag {
    padding-bottom: 0.8rem;
  }
  .step {
    font-weight: 400;
    font-size: 0.9rem;
    color: var(--cool-gray);
  }
  .info {
    font-weight: 400;
    font-size: 0.9rem;
    color: white;
  }
  .priceblock:hover {
    border-color: var(--purplish-blue);
  }

  .addOn:hover {
    border-color: var(--purplish-blue);
    cursor: pointer;
  }
  .form-check {
    cursor: pointer;
  }
  #input:hover {
    border-color: var(--purplish-blue);
    cursor: pointer;
  }
  #changed:hover {
    color: var(--purplish-blue);
    cursor: pointer;
  }
}
